.header {
  height: 12%;
  display: flex;
  justify-content: space-between; /* If displaying with the logo of gmail id*/
  /*justify-content: center;*/
  align-items: center;
  background-color: white;
  top: 0;
  z-index: 100;
  margin: 1%;
}

.header__logo1 {
  width: 30%;
  object-fit: contain;
  margin-top: 1%;
}

.signout_button {
  transform: scale(4);
  padding-right: 3%;
  color: #4267b2;
}
