.home {
  height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: olivedrab;
  z-index: 100;
  bottom: 0;
  position: sticky;
  border-radius: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.send__logo {
  width: 5%;
  display: flex;
  position: relative;
}
