.container {
}
.home {
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  background-color: #4267b2;
  z-index: 100;
  bottom: 0;
  border-radius: 50px;
  margin: 1%;
}

.mic__icon {
  margin-top: 30%;
  margin-bottom: 10%;
  transform: scale(10);
  background-color: #4267b2;
  border-radius: 50%;
  color: white;
}

.bottom {
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4267b2;
  margin: 1%;
  border-radius: 50px;
}

.bottom__logo1 {
  transform: scale(5);
  border-radius: 50%;
  color: white;
  margin: 8%;
}

.stop_button_visible {
  visibility: visible;
  margin-top: 1%;
  transform: scale(7);
  background-color: #4267b2;
  border-radius: 50%;
  color: white;
}

.stop_button_hidden {
  visibility: hidden;
  margin-top: 1%;
  transform: scale(7);
  background-color: #4267b2;
  border-radius: 50%;
  color: white;
}

.react_player {
  color: black;
  z-index: 1;
}
